body
	font-family: Roboto
	min-width: 1075px
#header
	height: 73px
	background-color: #f8f8f8
	position: relative
	z-index: 10
	+box-shadow(0.5px 0.9px 2px rgba(0, 0, 0, 0.18))
	.logo
		float: left
		position: relative
		top: 16px
		margin-left: 31px
	.r-head
		float: right
		margin-right: 16px
		.t1
			color: #5c5c5c
			font-family: Roboto
			font-size: 17px
			font-weight: 300
			line-height: 73px
			padding-right: 42px
			position: relative
			float: left
			margin-right: 41px
			&:before
				position: absolute
				top: 25px
				right: 0
				display: block
				content: ''
				+s(i1)
		.t2
			padding-top: 15px
			text-align: center
			color: #5c5c5c
			font-family: Roboto
			font-size: 17px
			font-weight: 300
			line-height: 17px
			span
				display: block
				color: #52a8be
				font-family: Roboto
				font-size: 18px
				font-weight: 300
				line-height: 18px
				padding-top: 6px
			padding-left: 25px
			position: relative
			float: left
			margin-right: 37px
			&:before
				position: absolute
				top: 17px
				left: 0
				display: block
				content: ''
				+s(i2)
		.bt1
			float: left
			margin-right: 7px
			position: relative
			top: 20px
			width: 112px
			height: 33px
			text-align: center
			line-height: 33px
			+tr(0.1s linear)
			color: #52a8be
			font-family: Roboto
			font-size: 16px
			font-weight: 300
			border: 1px solid #b7d5de
			+b(3px)
			&:hover
				background: #31aabc
				border-color: #31aabc
				color: #fff
		.bt2
			float: left
			margin-right: 7px
			position: relative
			top: 20px
			width: 41px
			height: 33px
			+tr(0.1s linear)
			border: 1px solid #b7d5de
			+b(3px)
			&:before
				position: absolute
				top: 7px
				left: 13px
				display: block
				content: ''
				+s(i3)
				+tr(0.1s linear)
				+op(1)
			&:after
				position: absolute
				top: 7px
				left: 13px
				display: block
				content: ''
				+s(i4)
				+tr(0.1s linear)
				+op(0)
			&:hover
				background: #31aabc
				border-color: #31aabc
				&:before
					+op(0)
				&:after
					+op(1)
#content
	.rr1
		overflow: hidden
		.dc1
			display: table-cell
			text-align: center
			vertical-align: middle
			.tit1
				color: #909090
				font-family: Roboto
				font-size: 12px
				font-weight: 300
				padding-bottom: 35px
				line-height: 12px
				span
					display: block
					color: #5c5c5c
					font-family: Roboto
					font-size: 30px
					font-weight: 300
					line-height: 30px
					padding-bottom: 12px
			.ft-et1
				width: 468px
				height: 458px
				background: url(../img/big-ft1.jpg)
				margin: auto
				position: relative
				margin-bottom: 90px
				img
					display: block
					width: 390px
					height: 380px
					position: absolute
					top: 50%
					left: 50%
					margin-top: -190px
					margin-left: -195px
			.tit2
				color: #666
				font-family: Roboto
				font-size: 18px
				font-weight: 100
				line-height: 20px
				span
					display: inline-block
					padding-left: 39px
					position: relative
					line-height: 20px
					vertical-align: top
					&:before
						position: absolute
						top: 0
						left: 0
						display: block
						content: ''
						+s(i6)
					font-size: 18px
					font-weight: 300
					margin-right: 18px
	.ll1
		float: left
		.clmn1
			width: 216px
			background-color: #2b2b2b
			position: relative
			min-height: 768px
			float: left
			.av1
				.av-t1
					padding: 61px 0 45px 0
					text-align: center
					a
						display: block
						img
							display: block
							margin: auto
							padding-bottom: 20px
							+b(100px)
						color: white
						font-family: Roboto
						font-size: 14px
						font-weight: 300
						line-height: 14px
						&:hover
							text-decoration: underline
			.content1
				.mCSB_container
					margin-right: 12px
				.mCSB_scrollTools
					right: 0px
					left: auto
					z-index: 10 !important
					&,*
						+op(1)
					.mCSB_draggerRail
						+op(1)
						+b(0)
						margin-left: 0
						width: 4px
						background-color: #eee
					.mCSB_dragger
						width: 4px
						background-color: #3767b6
						div
							+op(0)
							display: none
				.lnk1
					display: block
					+clr
					height: 46px
					padding: 0 5px 0 25px
					color: white
					font-family: Roboto
					font-size: 12px
					font-weight: 300
					text-decoration: underline
					img
						float: left
						margin-right: 21px
						position: relative
						top: 6px
						width: 33px
						height: 33px
						+b(2px)
					span
						overflow: hidden
						line-height: 46px
						display: block
					&:hover
						text-decoration: none
					&.active
						background: #343434
			.ft-clmn1
				position: absolute
				bottom: 0
				left: 0
				width: 216px
				height: 295px
				background: url(../img/t2.png) bottom no-repeat
				div
					position: absolute
					top: 0
					left: 0
					right: 0
					height: 135px
					background: #3767b6
					&:before
						position: absolute
						bottom: -16px
						left: 50%
						margin-left: -14px
						display: block
						content: ''
						+s(i5)
					span
						display: block
						text-align: center
						padding: 22px 0 18px 0
						color: white
						font-family: Roboto
						font-size: 18px
						font-weight: 300
						line-height: 20px
					form
						width: 189px
						height: 30px
						border: 1px solid rgba(255,255,255,0.89)
						+b(2px)
						margin: auto
						display: block
						input[type=text]
							width: 146px
							float: left
							margin-left: 10px
							height: 30px
							line-height: 30px
							background: none
							border: none
							font-size: 14px
							font-weight: 300
							font-family: Roboto
							color: #fff
						position: relative
						input[type=submit]
							position: absolute
							top: 7px
							right: 8px
							display: block
							border: none
							+s(search1)
		.clmn2
			overflow: hidden
			position: relative
			min-height: 768px
			width: 1px
			float: left
			.ov-clmn2
				position: absolute
				top: 0
				left: -365px
				width: 365px
				background: #ddd
				&:before
					position: absolute
					top: 0
					left: -80px
					bottom: 0
					width: 80px
					display: block
					content: ''
					background: #ddd
				bottom: 0
				.tit1
					height: 100px
					line-height: 100px
					text-align: center
					color: #666
					font-family: Roboto
					font-size: 22px
					font-weight: 300
				.content1
					margin: 0 16px 0 30px
					overflow: hidden
					height: 200px
					img
						float: left
						margin: 0 10px 12px 0
						width: 84px
						height: 82px
						cursor: pointer
					.mCSB_container
						margin-right: 0px
					.mCSB_scrollTools
						right: 0px
						left: auto
						z-index: 10 !important
						&,*
							+op(1)
						.mCSB_draggerRail
							+op(1)
							+b(0)
							margin-left: 0
							width: 4px
							background-color: #eee
						.mCSB_dragger
							width: 4px
							background-color: #2b96b1
							div
								+op(0)
								display: none
	+clr
	.rr1
		overflow: hidden
.ft-bot1
	height: 86px
	background-color: #f8f8f8
	a
		float: right
		margin-right: 20px
		position: relative
		top: 17px
		width: 227px
		height: 54px
		background-color: #f77003
		+b(2px)
		color: white
		font-family: Roboto
		font-size: 19px
		font-weight: 300
		line-height: 54px
		text-align: center
		text-transform: uppercase
		&:hover
			+op(0.9)