html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
}
body a, html a {
  text-decoration: none;
}
body input, html input {
  -webkit-appearance: none;
}

img, fieldset, a img {
  border: none;
}

input[type="submit"],
button {
  cursor: pointer;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: top;
}

li {
  list-style: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.clear {
  clear: both;
}

body {
  font-family: Roboto;
  min-width: 1075px;
}

#header {
  height: 73px;
  background-color: #f8f8f8;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0.5px 0.9px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0.5px 0.9px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 0.5px 0.9px 2px rgba(0, 0, 0, 0.18);
}
#header .logo {
  float: left;
  position: relative;
  top: 16px;
  margin-left: 31px;
}
#header .r-head {
  float: right;
  margin-right: 16px;
}
#header .r-head .t1 {
  color: #5c5c5c;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 73px;
  padding-right: 42px;
  position: relative;
  float: left;
  margin-right: 41px;
}
#header .r-head .t1:before {
  position: absolute;
  top: 25px;
  right: 0;
  display: block;
  content: "";
  background: url('../img/icons-s2709b40dec.png') 0 -47px no-repeat;
  width: 28px;
  height: 24px;
}
#header .r-head .t2 {
  padding-top: 15px;
  text-align: center;
  color: #5c5c5c;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 17px;
  padding-left: 25px;
  position: relative;
  float: left;
  margin-right: 37px;
}
#header .r-head .t2 span {
  display: block;
  color: #52a8be;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  padding-top: 6px;
}
#header .r-head .t2:before {
  position: absolute;
  top: 17px;
  left: 0;
  display: block;
  content: "";
  background: url('../img/icons-s2709b40dec.png') 0 0 no-repeat;
  width: 28px;
  height: 37px;
}
#header .r-head .bt1 {
  float: left;
  margin-right: 7px;
  position: relative;
  top: 20px;
  width: 112px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  color: #52a8be;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #b7d5de;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#header .r-head .bt1:hover {
  background: #31aabc;
  border-color: #31aabc;
  color: white;
}
#header .r-head .bt2 {
  float: left;
  margin-right: 7px;
  position: relative;
  top: 20px;
  width: 41px;
  height: 33px;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  border: 1px solid #b7d5de;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#header .r-head .bt2:before {
  position: absolute;
  top: 7px;
  left: 13px;
  display: block;
  content: "";
  background: url('../img/icons-s2709b40dec.png') 0 -172px no-repeat;
  width: 17px;
  height: 17px;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
#header .r-head .bt2:after {
  position: absolute;
  top: 7px;
  left: 13px;
  display: block;
  content: "";
  background: url('../img/icons-s2709b40dec.png') 0 -225px no-repeat;
  width: 17px;
  height: 17px;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
#header .r-head .bt2:hover {
  background: #31aabc;
  border-color: #31aabc;
}
#header .r-head .bt2:hover:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
#header .r-head .bt2:hover:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* Products in basket */

#header .r-head .bt2 .basket {
  position: absolute;
  top: -12px;
  right: -18px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ff3f00;
  color: #fff;
  border-radius: 50%;
  font-family: 'Roboto';
  background: #ff3f00;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.9em;
  text-align: center;
  opacity: 0;
  transition: all ease-in-out 1s;
}

#header .r-head .bt2 .basket.in {
  opacity: 1;
  top: -9px;
  right: -13px;
}

/****/

#content {
  *zoom: 1;
  display: block;
}
#content .rr1 {
  overflow: hidden;
}
#content .rr1 .dc1 {
  text-align: center;
  vertical-align: middle;
  width: 505px;
  margin: 0 auto;
}
#content .rr1 .dc1 .tit1 {
  color: #909090;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 35px;
  line-height: 12px;
  margin-top:50px;
}
#content .rr1 .dc1 .tit1 span {
  display: block;
  color: #5c5c5c;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 12px;
}
#content .rr1 .dc1 .ft-et1 {
  width: 468px;
  height: 458px;
  background: url(../img/big-ft1.jpg);
  margin: auto;
  position: relative;
  margin-bottom: 90px;
}
#content .rr1 .dc1 .ft-et1 img {
  display: block;
  width: 390px;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -195px;
}
#content .rr1 .dc1 .tit2 {
  color: #666666;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
  margin-top: 20px;
}
#content .rr1 .dc1 .tit2 span {
  display: inline-block;
  padding-left: 39px;
  position: relative;
  line-height: 30px;
  vertical-align: top;
  font-size: 18px;
  font-weight: 300;
  margin-right: 18px;
}
#content .rr1 .dc1 .tit2 span:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  content: "";
  background: url('../img/icons-s2709b40dec.png') 0 -81px no-repeat;
  width: 21px;
  height: 23px;
}
#content .ll1 {
  float: left;
}
#content .ll1 .clmn1 {
  width: 216px;
  background-color: #2b2b2b;
  position: relative;
  min-height: 768px;
  float: left;
}
#content .ll1 .clmn1 .av1 .av-t1 {
  padding: 45px 0 45px 0;
  text-align: center;
}
#content .ll1 .clmn1 .av1 .av-t1 a {
  display: block;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}
#content .ll1 .clmn1 .av1 .av-t1 a div {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 120px;
  width: 120px;
  overflow: hidden;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
}
#content .ll1 .clmn1 .av1 .av-t1 a:hover {
  text-decoration: underline;
}

#content .ll1 .clmn1 .content1 .mCSB_container {
  margin-right: 12px;
}
#content .ll1 .clmn1 .content1 .mCSB_scrollTools {
  right: 0px;
  left: auto;
  z-index: 10 !important;
}
#content .ll1 .clmn1 .content1 .mCSB_scrollTools, #content .ll1 .clmn1 .content1 .mCSB_scrollTools * {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
#content .ll1 .clmn1 .content1 .mCSB_scrollTools .mCSB_draggerRail {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: 0;
  width: 4px;
  background-color: #eeeeee;
}
#content .ll1 .clmn1 .content1 .mCSB_scrollTools .mCSB_dragger {
  width: 4px;
  background-color: #3767b6;
}
#content .ll1 .clmn1 .content1 .mCSB_scrollTools .mCSB_dragger div {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  display: none;
}












#content .ll1 .clmn2 .content2 .mCSB_container {
  margin-right: 12px;
}
#content .ll1 .clmn2 .content2 .mCSB_scrollTools {
  right: -12px;
  left: auto;
  z-index: 10 !important;
}
#content .ll1 .clmn2 .content2 .mCSB_scrollTools, #content .ll1 .clmn2 .content2 .mCSB_scrollTools * {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
#content .ll1 .clmn2 .content2 .mCSB_scrollTools .mCSB_draggerRail {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: 0;
  width: 4px;
  background-color: #eeeeee;
}
#content .ll1 .clmn2 .content2 .mCSB_scrollTools .mCSB_dragger {
  width: 4px;
  background-color: #3767b6;
}
#content .ll1 .clmn2 .content2 .mCSB_scrollTools .mCSB_dragger div {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  display: none;
}







#content .ll1 .clmn1 .content1 .lnk1 {
  display: block;
  *zoom: 1;
  height: 46px;
  padding: 0 5px 0 25px;
  color: white;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
}
#content .ll1 .clmn1 .content1 .lnk1:after {
  content: " ";
  display: table;
  clear: both;
}
#content .ll1 .clmn1 .content1 .lnk1 img {
  float: left;
  margin-right: 21px;
  position: relative;
  top: 6px;
  width: 33px;
  height: 33px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#content .ll1 .clmn1 .content1 .lnk1 span {
  overflow: hidden;
  display: block;
  width: 110px;
  height: 34px;
  padding-top:5px;
}
#content .ll1 .clmn1 .content1 .lnk1:hover {
  text-decoration: none;
}
#content .ll1 .clmn1 .content1 .lnk1.active {
  background: #343434;
}
#content .ll1 .clmn1 .ft-clmn1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 216px;
  height: 295px;
  background: url(../img/t2.png) bottom no-repeat;
}
#content .ll1 .clmn1 .ft-clmn1 div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 135px;
  background: #3767b6;
}
#content .ll1 .clmn1 .ft-clmn1 div:before {
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -14px;
  display: block;
  content: "";
  background: url('../img/icons-s2709b40dec.png') 0 -124px no-repeat;
  width: 28px;
  height: 38px;
}
#content .ll1 .clmn1 .ft-clmn1 div span {
  display: block;
  text-align: center;
  padding: 22px 0 18px 0;
  color: white;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}
#content .ll1 .clmn1 .ft-clmn1 div form {
  width: 189px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.89);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: auto;
  display: block;
  position: relative;
}
#content .ll1 .clmn1 .ft-clmn1 div form input[type=text] {
  width: 146px;
  float: left;
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto;
  color: white;
}
#content .ll1 .clmn1 .ft-clmn1 div form input[type=submit] {
  position: absolute;
  top: 7px;
  right: 8px;
  display: block;
  border: none;
  background: url('../img/icons-s2709b40dec.png') 0 -199px no-repeat;
  width: 16px;
  height: 16px;
}
#content .ll1 .clmn2 {
  overflow: hidden;
  position: relative;
  min-height: 768px;
  width: 1px;
  float: left;
}
#content .ll1 .clmn2 .ov-clmn2 {
  position: absolute;
  top: 0;
  left: -177px;
  width: 177px;
  background: #dddddd;
  bottom: 0;
}
#content .ll1 .clmn2 .ov-clmn2:before {
  position: absolute;
  top: 0;
  left: -80px;
  bottom: 0;
  width: 80px;
  display: block;
  content: "";
  background: #dddddd;
}
#content .ll1 .clmn2 .ov-clmn2 .tit1 {
  /*height: 53px;*/
  width:175px;
  /*line-height: 100px;*/
  text-align: center;
  color: #666666;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  margin-top:20px;
  margin-bottom:20px;
  overflow:hidden;
  
}
#content .ll1 .clmn2 .ov-clmn2 .content1 {
  margin: 0 16px 0 30px;
  overflow: hidden;
  width: 100px;
}

#content .ll1 .clmn2 .ov-clmn2 .content2 {
  margin: 0 15px 0 29px;
  overflow: hidden;
}

#content .ll1 .clmn2 .ov-clmn2 .content1 img {
  float: left;
  margin: 0 10px 12px 0;
  width: 84px;
  height: 82px;
  /*cursor: pointer;*/
}
#content .ll1 .clmn2 .ov-clmn2 .content1 .mCSB_container {
  margin-right: 0px;
}
#content .ll1 .clmn2 .ov-clmn2 .content1 .mCSB_scrollTools {
  right: 0px;
  left: auto;
  z-index: 10 !important;
}
#content .ll1 .clmn2 .ov-clmn2 .content1 .mCSB_scrollTools, #content .ll1 .clmn2 .ov-clmn2 .content1 .mCSB_scrollTools * {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
#content .ll1 .clmn2 .ov-clmn2 .content1 .mCSB_scrollTools .mCSB_draggerRail {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: 0;
  width: 4px;
  background-color: #eeeeee;
}
#content .ll1 .clmn2 .ov-clmn2 .content1 .mCSB_scrollTools .mCSB_dragger {
  width: 4px;
  background-color: #2b96b1;
}
#content .ll1 .clmn2 .ov-clmn2 .content1 .mCSB_scrollTools .mCSB_dragger div {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  display: none;
}
#content:after {
  content: " ";
  display: table;
  clear: both;
}
#content .rr1 {
  overflow: hidden;
}

#content .ll3 {
  float: right;
}

#content .ll3 .clmn3 {
  width: 89px;
  background-color: #3094B0;
  position: relative;
  min-height: 768px;
  float: right;
}

.ft-bot1 {
  height: 86px;
  background-color: #f8f8f8;
}
.ft-bot1 a {
  float: right;
  margin-right: 20px;
  position: relative;
  top: 17px;
  width: 227px;
  height: 54px;
  background-color: #f77003;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: white;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 300;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
}
.ft-bot1 a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}


/* THIS DATA IS OPTIONAL */

#div1, #div2 {
    float: left;
    width: 100px;
    height:100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
#div1, #div2 {
    float: left;
    width: 100px;
    height:100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}