body{margin:0px;padding:0px;font-family: Helvetica, Tahoma; font-size: 12px;}

#gtop {width:100%; padding:2px 0px; margin:0px; position:relative; background-color:#343434; border-bottom:1px solid #eee;}
#top {width: 1000px; height:68px; border:0px; margin: 0px auto; padding: 0px; position:relative;}
#gcontent {width:100%; margin:0px; position:relative;}
#top a {margin-left:4px;color:#bbb;text-decoration:none;}
#top a:hover {text-decoration:underline;}
#top img {height:40px;}
#top p {color:#fff; font-size:0.9em; position:absolute; left:10px; top:31px;}
#back {margin-top: 10px; display: inline-block;}


#price {z-index:5; color:#444; width: 130px; font-size:32px; margin: 10px 0px; display: inline-block; vertical-align:top;}


#lm {width:200px; text-align: center; font-size:12px; margin:0px; padding:0px; position:relative;}
.bm {width:200px; margin:5px 0px; padding:0px; text-align: left; line-height: 5em; color: #fff; background-color:#333;}
.bm:hover {cursor:pointer;}
.spb {width:198px; text-align: center; padding:0px; margin:0px; line-height: 2em; background-color:#fff; color: #222; border:1px solid #eee;}
.spb ul {width:198px; padding:0px; margin:0px; font-size:10px; vertical-align:top; display:inline-block;}
.spb ul li {display:inline-block; width:64px; padding:0px; margin:0px; border:0px;}
.spb ul li:hover {color:#222; background:#eee; cursor:pointer;}
.spb img{display:inline-block; padding:0px; margin:0px; text-align:top;}
.spt {position:relative;}
#tablet {position:relative; left:8px; top:10px;}
.downimg {position:absolute; left:170px; top:24px;width:19px;z-index:6;}
.text_top {margin: 5px 0px;}
.name_stable_spt {line-height: 1.5em; position:relative; padding-top:15px; margin:0px; left:12px;}
.name_spt_custom {line-height: 1.5em; color:#ddd; text-decoration: underline; position:relative; padding-bottom:15px; margin:0px; }
#name_spt_dev {left:12px;}
li.colmat {width:198px !important; font-size:12px;}
#name_spt_colmat {left:12px;}
#name_spt_grid {left:12px;}
#name_spt_effect {left:12px;}
#colmatimg {position:relative; left:8px; top:15px; width:40px;}
#gridimg {position:relative; left:8px; top:10px;}
#effectimg {position:relative; left:8px; top:10px;}

#grid {
	padding:0px;
	margin:0px;
	font-size:10px;
	vertical-align:top;
	display:inline-block;
}
		
		
#grid li {
	/*display:inline-block;*/
	width:89px;
	height:89px;
	padding:0px;
	margin:0;
	border:0px;
	background:#3094B0;
}
#grid li:hover {
	color:#222;
	background:#1e6c84;
	cursor:pointer;
}

#grid img {
	width:57px;
	height:57px;
	margin:16px;
}




#designer {width:500px; height:500px; position:absolute; left:200px; top: 35px;}
#main_object {
	position:absolute;
	border:1px solid orange;
	z-index:2;
}
#main_object_load {position:absolute; height:100%; width:100%; z-index:0;}
.obj {position:absolute; border:1px solid #ccc; z-index:200;}
#canvasdes {position:absolute; z-index:0;}
#canvasmain {position:absolute; z-index:1;}
.loding_div_now {position:absolute; height:100%; width:100%; background:#fff;opacity:0.6;-moz-opacity:0.6;filter: alpha(opacity=60) black;-khtml-opacity: 0.6;}
.loding_img_now {position:absolute; left:50%; top:50%; margin-left:-16px; margin-top:-16px;  opacity:1;-moz-opacity:1;filter: alpha(opacity=100) black;-khtml-opacity: 1;}

.obj_func_start {z-index:300000; position:absolute; left:50%; top:50%;}
.obj_func_start img {z-index:300000; width:20px; opacity:0.7;-moz-opacity:0.7;filter: alpha(opacity=70) black;-khtml-opacity: 0.7; }
.obj_func_start img:hover {z-index:3;opacity:1;-moz-opacity:1;filter: alpha(opacity=100) black;-khtml-opacity: 1; cursor:pointer;}
.href-message {position:absolute; display:block; width:100%; height:100%; cursor:default;}


#random {position:absolute; font-weight:bold; text-align:center;  padding: 6px; left:300px; top: 535px; cursor: pointer;border:1px solid #fff;}
#random:hover {border:1px solid #ccc;}
#random span {display: inline-block; margin:8px;}
#clear_des {position:absolute; font-weight:bold; text-align:center; padding: 6px; left:450px; top: 535px; cursor: pointer;border:1px solid #fff;}
#clear_des span {display: inline-block; margin:8px;}
#clear_des:hover {border:1px solid #ccc;}



#rm {width:300px; text-align: center; position:absolute; left:700px; top: -5px; margin:0px; padding:0px;}


.div_photos {overflow: auto; -webkit-overflow-scrolling: auto; -webkit-overflow-scrolling: touch; text-align: left; padding: 12px 2px; border:1px solid #999; background-color:#f9f9f9; height:400px; border-top:0px; margin:0px auto;}


.div_img_rm {
	display:inline-block;
	cursor: move;
	margin:2px 0;
	border:3px solid #DDDDDD;
	border-radius:5px;
	width: 112px;
	height: 112px;
	overflow: hidden;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center center;
}
:hover.div_img_rm {
	border:3px solid #3094B0;
}
.img_rm {
	/*height:58px;*/
	display:inline-block;
	cursor: move;
}
.div_load_photos {text-align:center; margin-top: 150px;}
#pickfiles {margin:0px auto;}
#filelist {padding:4px;}

::-webkit-scrollbar {width: 14px;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 0px;}
::-webkit-scrollbar-thumb {border-radius: 0px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}

#rezult_div {position:absolute;}
#canvasrezult {position:absolute; display:none;}

#end {z-index:0;opacity:0.9;-moz-opacity:0.9;filter: alpha(opacity=90) black;-khtml-opacity: 0.9;}
#messfin {position:fixed; width: 1000px; left:50%; top:50%; margin-left:-500px; opacity:1;-moz-opacity:1;filter: alpha(opacity=100) black;-khtml-opacity: 1; color:#fff;z-index:103;}
#progressbar {z-index:103;}
#textfin {position:fixed; top:25%; color:#fff; text-align:center; width:1000px; }



.ui-progressbar {height: 2em; text-align: left; overflow: hidden;z-index:103;}
.ui-progressbar .ui-progressbar-value {margin: -1px;height: 100%;z-index:103;}
.ui-progressbar .ui-progressbar-overlay {background: url("core-designer/img/animated-overlay.html");	height: 100%;filter: alpha(opacity=25);	opacity: 0.25;z-index:103;}
.ui-progressbar-indeterminate .ui-progressbar-value {background-image: none;z-index:103;}
.ui-progressbar {position: relative;z-index:103;}
.progress-label {position: absolute;left: 50%;top: 4px;font-weight: bold; color:#333; text-shadow: 1px 1px 0 #333;z-index:103;}
.ui-widget-content {border: 1px solid #aaaaaa;background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.html) 50% 50% repeat-x;	color: #222222;z-index:103;}
.ui-corner-all {border-top-left-radius: 4px; border-top-right-radius: 4px;border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;z-index:103;}
.ui-widget {font-family: Verdana,Arial,sans-serif;font-size: 1.1em;z-index:103;}
.ui-widget-header {border: 1px solid #aaaaaa;background: #cccccc url(../../code.jquery.com/ui/1.10.4/themes/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;color: #222222;font-weight: bold;z-index:103;}
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {border: 1px solid #d3d3d3;	background: #e6e6e6 url(../../code.jquery.com/ui/1.10.4/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;font-weight: normal;color: #555555;z-index:103;}