/*   Empty content page template */
.page-template-page-empty-content {
	&.et_right_sidebar {
		#main-content .container {
			max-width: 1187px;
			width: 100%;

			&:before {
				display: none;
			}
		}

		#left-area {
			width: 100%;
			padding-right: 0;
		} 
	}
}