/* WooCommerce Styles */

.woocommerce {
	&-shipping-fields {
		display: none;
	}

	&-page #main-content {
		background: #ebebeb;
	}

	/* Basic styling */

	%mainStyle {
		font-family: 'Roboto';
    	font-weight: 300;
    	color: #666;
	}

	.product, .cart-collaterals, .checkout {

		h3, label, input, td, th {
			@extend %mainStyle;
			line-height: 1;
		}

		p {
			@extend %mainStyle;
			line-height: 1.3;
			margin-bottom: 16px;
		}

		label, td, th, p {
			@include rem(font-size, 18px !important);
		}

		h3 {
			@include rem(font-size, 35px !important);
			margin-bottom: 1em;
		}

	}

	// remove button
	a.remove {
		line-height: 0.9;
	}


	%input {
		padding: 0.7em;
		line-height: 1;
		height: auto;
		background-color: #fff !important;

		$text-color: lighten(black, 50%);

		color: $text-color !important;

		&::-webkit-input-placeholder {
			color:  $text-color !important;
		}

		&::-moz-placeholder {
			color:  $text-color !important;
		}
	}

	// quantity

	.quantity input.qty {
		@extend %input;
	}

	/* Cart page */

	// shop table

	table.cart {
		border-radius: 0;

		td.actions {
			
			$font-size-small: 1em;

			@media (min-width: 981px) {
				%fontSize {
					$font-size: 19px * 0.75;
					@include rem(font-size, $font-size !important);
				}

				.coupon {
					min-width: 490px;

					.input-text {
						width: 240px;
						@extend %fontSize;
					}
				}

				.button {
					@extend %fontSize;
				}
			}

			@media (max-width: 981px) {
				.coupon {
					width: 50%;

					.input-text, .button {
					  width: 100%;
					  margin-bottom: 1em;
					  font-size: $font-size-small !important;
					}
				}

				> .button {
					width: 48%;
					font-size: $font-size-small !important;
				}
			}

			@media (max-width: 768px) {
				.coupon, > .button {
					width: 100%;
					padding-bottom: 0;
					margin-bottom: 0 !important;
				}
			}

			.coupon {
				.input-text {
					@extend %input;
				}
			}

			.button {
				$button-color: #2B96B1;
				background-color: $button-color !important;
				border-color: $button-color !important;
				&:hover {
					background-color: lighten($button-color, 2%) !important;
					border-color: lighten($button-color, 2%) !important;
				}
			}

		} 
	}

	// totals table on cart page
	.cart-collaterals {

		.cart_totals {
			td, th { 
				&:last-child {
					width: 1%;
				}
			}
		} 

		.cart-subtotal, .order-total, .shipping {
			td:last-child {
				text-align: right;
				padding-right: 0 !important;
			}
		}
	}

	/* Billing Form */

	&-billing-fields {

		.form-row {
			$height: 2em;

			label, .input-text {
				@include rem(font-size, 20px !important);
				height: $height !important;
	    	}

	    	&--first {
	    		margin-top: -1em !important;
	    	}

	    	&.form-row-focus, &.form-row-filled {
	    		label {
			    	 -webkit-transform: translate3d(0, 0.6em, 0) scale(0.75);
					  -moz-transform: translate3d(0, 0.6em, 0) scale(0.75);
					  -ms-transform: translate3d(0, 0.6em, 0) scale(0.75);
					  -o-transform: translate3d(0, 0.6em, 0) scale(0.75);
					  transform: translate3d(0, 0.6em, 0) scale(0.75);

				    color: #2b96b1 !important;
			    }
			}

	    	label {
				display: block;
			    height: 35px;
			    line-height: 1 !important;
			    order: 1;
			    pointer-events: none;
			    -webkit-font-smoothing: antialiased;
			    z-index: 1;
			   
			   	$transform-y: $height*1.2;
				
				 -webkit-transform: translate3d(0, $transform-y, 0) scale(1);
				-moz-transform: translate3d(0, $transform-y, 0) scale(1);
				-ms-transform: translate3d(0, $transform-y, 0) scale(1);
				-o-transform: translate3d(0, $transform-y, 0) scale(1);
				transform: translate3d(0, $transform-y, 0) scale(1);

			    -webkit-transform-origin: left top;
			    -moz-transform-origin: left top;
			    -ms-transform-origin: left top;
			    transform-origin: left top;
			    -webkit-transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
			    -o-transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
			    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
			    font-weight: normal;

			    abbr {
			    	display: none;
			    }

	    	}

	    	.input-text {
			    display: block;
			    padding: 0 0 $height*0.1 !important;
			    color: #555;
			    background-color: transparent;
			    background-image: none;
			    border: 0;
			    border-bottom: 1px solid #ccc;
			    border-radius: 0 !important;

				-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, border-color ease-in-out 0.15s;
				-moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, border-color ease-in-out 0.15s;
				-ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, border-color ease-in-out 0.15s;
				-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, border-color ease-in-out 0.15s;
				transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, border-color ease-in-out 0.15s;

				&:-webkit-autofill {
					-webkit-box-shadow: 0 0 0px 1000px #ebebeb inset;
				}

				&:focus {
					border-color: #009588 !important;
				    outline: 0;
				    border-bottom-width: 2px;
				}
	    	}
		}

	}
	
	// @end of billing form

	#billing_country_field {
		display: none;
	}

	// Checkout page

	// coupon
	.checkout_coupon {
		.input-text {
			&:focus {
				border-color: #ccc !important;
			}
		}
	}

	&-checkout {

		// Payment Methods table in Checkout
		&-payment {
			margin-top: 80px;
			
			.payment_methods, .place-order {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}

			.radio, .checkbox {
				label {
					margin-bottom: 1em;
				}
			}

			.button {
				width: 100%;
			}
		}

		// About Paypal
		.about_paypal {
			$show-info-link: false;
			@if ($show-info-link) {
				line-height: 1em !important;
			    font-size: .8em !important;
			    position: relative;
			    top: 0.8em;
			    left: 1.8em;
			    float: none !important;
			}
			@else {
				display: none;
			}
		}

	}

	.checkout-button {
		width: 100%;
	}

	// @end of checkout page
	

	/* Order Review */

	#order_review {
		background: white;

		table.shop_table {
			border-radius: 0 !important;
			border: none;

			.shipping {
				.amount {
					font-weight: 300;
				}
			}

			.order-total {
				font-weight: normal;
				text-align: right;
			}

			td:last-child {
				width: 14%;
				text-align: right;
			}

			td,th {
				padding: 1em !important;
			}

			&.cart {
				.coupon {
					@media (min-width: 981px) {
						min-width: 420px;
					}
				}

				.product {
					&-quantity {
						width: 20%;
					}
					

					&-subtotal {
						width: 21%;
					}
				}

			}
		}

	}

	// @end of order review

	

	/* Buttons */

	$button-primary-color: #f77003;

	%buttonStyle
	{

		display: inline-block;
		padding: 0.7em 2em !important;
		color: #fff;
		border-radius: 3px; 

		@include rem(font-size, 19px);
		font-weight: 300;

		line-height: 1 !important;

		text-transform: uppercase;

		background: $button-primary-color;
		border-color: $button-primary-color;

		&:after {
			line-height: 0.6;
		}
		
	} 
		
	%buttonStyleHover {
		color: #fff;
		background: lighten($button-primary-color, 5%);
		border-color: lighten($button-primary-color, 5%);
		padding: 0.7em 2em !important;
	}

	%buttonStyleActive {
		color: #fff;
		background: darken($button-primary-color, 5%);
		border-color: darken($button-primary-color, 5%);
	}

	a, button, input {
		&.button.alt, &.button {
			@extend %buttonStyle;

			&:hover {
				@extend %buttonStyleHover;
			}

			&:active {
				@extend %buttonStyleActive;
			}
		}

		#respond input#submit {
			@extend %buttonStyle;

			&:hover {
				@extend %buttonStyleHover;
			}

			&:active {
				@extend %buttonStyleActive;
			}
		}

	}	


	// submit button in checkout
	
	#place_order {
		float: none !important;
		margin-top: 55px; 
	}

	// buttons in woocommerce  message block

	.woocommerce-message {
		a, button, input {
			&.button {
				@extend %buttonStyle;

				&:hover {
					@extend %buttonStyleHover;
				}

				&:active {
					@extend %buttonStyleActive;
				}
			}
		}
	}

	
	// Abstract interactive control style

	$inter-inactive-color: #fff;
	$inter-active-color: #2b96b1;
	$inter-diameter: 21px; 


	%interactiveControl {
		
		input {
			display: none !important;
		}

		label {
			cursor: pointer;
		    padding-left: ($inter-diameter*2);
		    position: relative;
		    display: inline-block;
		    height: 1.4em;
		    line-height: $inter-diameter !important;
		}

		.circle, .check {
			height: $inter-diameter;
		    width: $inter-diameter;
		}

		.circle {
			border: 2px solid opacify($inter-active-color, 0.54);
			background: $inter-inactive-color;
		}

		.check {
		    background-color: opacify($inter-inactive-color, 0.54);
		    -webkit-transform: scale(0);
		    -ms-transform: scale(0);
		    -o-transform: scale(0);
		    transform: scale(0);
		}

		input:checked {
			& ~ .check {
			    -webkit-transform: scale(0.55);
			    -ms-transform: scale(0.55);
			    -o-transform: scale(0.55);
			    transform: scale(0.55);			    
			}
		}

		span {
			display: block;
		    position: absolute;
		    left: 0;
		    top: 2px;
		    transition-duration: 0.2s;
		}
	}


	/* Checkbox */

	.checkbox {
		@extend %interactiveControl;

		.check {
			overflow: hidden;
			
			&:before {
				position: absolute;
			    content: "";
			    -webkit-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			    -o-transform: rotate(45deg);
			    transform: rotate(45deg);
			    display: block;
			    margin-top: -2px;
				margin-left: 8px;
			    width: 0;
			    height: 0;
			    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
			}
		}

		input:checked {
			& ~ .check {
				 -webkit-transform: scale(0.92);
				  -moz-transform: scale(0.92);
				  -ms-transform: scale(0.92);
				  -o-transform: scale(0.92);
				  transform: scale(0.92);
				
				&:before {
					box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
					color: $inter-active-color;
				}
			}
		}
	}

	/* Radio */

	.radio {
		@extend %interactiveControl;

		.check, .circle {
			 border-radius: 100%;
		}

		input:checked {
			& ~ .check {
				background-color: $inter-active-color;
			}
		}
	}


	/* Mobile Layout */

	@media (max-width: 1200px) {
	   padding: 0 1em;
	}
	
}